<%- include header %>
  <body>
    <header class="bar bar-nav">
      <h1 class="title">Profiles</h1>
    </header>

    <nav class="bar bar-tab">
      <a class="tab-item" href="/search">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search</span>
      </a>
      <a class="tab-item" href="/discover">
        <span class="icon icon-star"></span>
        <span class="tab-label">Discover</span>
      </a>
      <a class="tab-item active" href="/me">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item" href="/about">
        <span class="icon icon-more"></span>
        <span class="tab-label">About</span>
      </a>
      <a class="tab-item" href="/add">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Posting</span>
      </a>
    </nav>

    <div class="content">
      <div class="content-padded">
        <div class="text-center">
      	 <img src="graphics/profile-user-empty.jpg" width="120" height="120" class="profile-user-image" />
        </div>

      <ul class="table-view">
        <li class="table-view-cell">
          <a>
            <p>
            Name
            </p>
              <%= name %>
          </a>
        </li>
        <li class="table-view-cell">
          <a>
            <p>
            Address
            </p>
              <%= address %>
          </a>
        </li>
      </ul>

      <div class="text-center">
        Reputation:
        <h1><%= rating %></h1>
      </div>

      <button class="btn btn-positive btn-block">Trust this user</button>
      <button class="btn btn-negative btn-block">Don't trust</button>

      </div>
    </div>

  </body>

<%- include footer %>
